.materialboxed {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.allAwards {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: large;
}

.card-title {
    text-align: center;
}