.center {

    padding-top: 200px !important;

}

.pic{

    padding-top:100px !important ;
}

.button{
    padding-top: 50px !important;
}

.sign{
    padding-top: 150px !important;
}

body{
    background-color:rgb(212, 172, 216);
}